<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mart</title>
</head>
<body>
    
    <h1>{{msg}}</h1>
    <h1>The Total price is Rs {{amount}}</h1>
    <form action="{{url_for('index')}}" method="POST">
        <input type="number" name="eggs" placeholder="quantity" required>Eggs (Rs 10)
        <input type="number" name="bread" placeholder="quantity" required>Bread (Rs 20)
        <input type="number" name="milk" placeholder="quantity" required>Milk (Rs 30)
        <input type="submit" value="Get the price" name="action">
    </form>
</body>
</html>